[submodule "2023/PHDDAY/reveal.js"]
	path = 2023/PHDDAY/reveal.js
	url = https://github.com/AsianTaco/reveal.js
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/AsianTaco/reveal.js
[submodule "2023/ml_paris/reveal.js"]
	path = 2023/ml_paris/reveal.js
	url = https://github.com/AsianTaco/reveal.js
